@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 100%;
/*  background: linear-gradient(
    270deg,
    #1d1d24 0%,
    #3f0d3f 30%, 
    #ce2c68 50%, 
    #fcd15a 50.1%, 
    #ce2c68 70%,
    #3f0d3f 90%,
    #1d1d24 100%
  );
  background-size: 800% 800%;*/


  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  font-family: "Mulish", sans-serif;
}

.main {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: #ffffff;
  margin-top: 10%;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

.subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
