.header {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: rgba(13, 13, 18, 0.9);
}

.logo {
  margin-left: 2%;
}

.containerExit {
  display: flex;
  margin-right: 2%;
}

@media (max-width: 420px) {
 .userNumber {
  display: none;
 }
}